.canvas {
  height: 93vh;
  width: auto;
}

#export-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#export-button:hover {
  background-color: darkred;
}

/* .dmn-decision-table-container .view-drd-button {
  display: none !important;
}

[data-action="showDrd"] {
  display: none !important;
} */